<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="ElFinderPHP Test Suite">
            <directory>tests/FM/ElFinderPHP</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/FM/ElFinderPHP/</directory>
        </whitelist>
    </filter>
</phpunit>
